
.tl{

    box-sizing: border-box;
   border-top: 2px solid #E5E5E5;
    border-left: 2px solid #E5E5E5;
   position: relative;
    width: 379px;
    height: 175px;
    left: 0px;
        top: 304px;
    
    background: #FFFFFF;
    /* Shadow 2 */
    
    box-shadow: 26px 26px 23px rgba(204, 210, 212, 0.36);
    border-radius: 12px;
    }
    .tl::after{
        content: '';
        display:block;
        position: absolute;
        width: 190px;
        top: -5px;
    right: 6px;
      border:5px solid white; 
    }
   
.tr-box{
 
    top: 32px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.01em;
    font-feature-settings: 'liga' off;
    color: #808F93;
    justify-content: center;
    left: 25px;
    
   }

   .tr-box :nth-child(1){
    z-index: 1;
    font-weight: 600;
font-size: 20px;
line-height: 32px;
color: #001F27;
   }
   .tr-box :nth-child(2){
    
    font-size: 20px;
    text-align: start;
    color: #808F93;
    position: absolute;
   z-index: 1;
    top: 34px;
   }